header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

nav {
  ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;

    li {
      margin-right: 15px;

      a,
      .netlify-identity-button {
        text-decoration: none;
        color: #007bff !important;
      }
    }
  }
}
